p.notes{
        width: 75%;
        font-style: italic;
        font-weight: bold
}

ul.turn{
  color: blue
  }

.jug{
  color:red
}

.kiwi{
  color:green
}
.sidebar {
        width: 70%;
        float: right;
        background-color: #4256f4;
      }
img{
  width: 30%;
  height:
}
